In [1]:
using PyCall: @pyimport
@pyimport pandas as pd

#import os
file=joinpath(pwd(),"Data") 
# dpli_data = pd.read_csv( os.path.join(os.getcwd(), "dpli_data_Final.csv"),low_memory=False)
data_store = pd.HDFStore(joinpath(file,"data_WH.h5"))

# ########Retrieve data using key
dpli_data = data_store["data"];

# # data_store.close()
@show typeof(dpli_data)

dpli_data

typeof(dpli_data) = PyCall.PyObject

PyObject        Age  Sex   YOR        SA  Plan  ...      DOBLA  UW  TPCL  PML  TPML
PolNo                                  ...
1       40    0  2008  250000.0    31  ...   19680803   1     0    0     0
2       40    0  2008  250000.0    31  ...   19680803   1     0    0     0
3       32    1  2008   50000.0    31  ...   19760822   1     0    0     0
4       38    0  2008  250000.0    31  ...   19700804   1     0    0     0
5       48    0  2008   50000.0    31  ...   19600108   1     0    0     0
6       39    0  2008  100000.0    31  ...   19690212   1     0    0     0
7       43    1  2008  200000.0    31  ...   19650124   1     0    0     0
8       39    1  2008    5000.0     0  ...   19690122   1     0    0     0
9       26    1  2008   10000.0     0  ...   19820620   1     0    0     0
10      29    1  2008    5000.0     0  ...   19790720   1     0    0     0
11      32    0  2008  500000.0    31  ...   19751124   1     0    0     0
12      48    1  2008   50000.0    31  ...   19600315   1     0    0     0
13      35    1  2008   10000.0     0  ...   19730104   1     0    0     0
14      26    0  2008   10000.0     0  ...   19820211   1     0    0     0
15      26    1  2008  120000.0    31  ...   19820429   1     0    0     0
16      25    0  2008  200000.0    31  ...   19830710   1     0    0     0
17      28    1  2008    5000.0     0  ...   19791118   1     0    0     0
18      45    1  2009  462000.0    31  ...   19631202   1     0    2    15
19      28    1  2008    5000.0     0  ...   19800315   1     0    0     0
20      35    1  2008    5000.0     0  ...   19730808   1     0    0     0

[20 rows x 20 columns]

In [2]:
using Pandas
dpli_data1=Pandas.DataFrame(dpli_data)
@show typeof(dpli_data1)
size(dpli_data1)

typeof(dpli_data1) = DataFrame

(20, 20)

In [ ]:
# Pandas.head(dpli_data1)
data1=convert(Array{Float64},dpli_data);

In [3]:
using DataFrames
dpli_data2=DataFrames.DataFrame(dpli_data1);
typeof(dpli_data2)

WARNING: using DataFrames.DataFrame in module Main conflicts with an existing identifier.

DataFrames.DataFrame

In [4]:
DataFrames.head(dpli_data2,3)

3×20 DataFrames.DataFrame. Omitted printing of 13 columns
│ Row │ Age   │ Sex   │ YOR      │ SA       │ Plan  │ Mode     │ LOB      │
│     │ Int64 │ Int64 │ Int32    │ Float64  │ Int64 │ Int64    │ Int64    │
├─────┼───────┼───────┼──────────┼──────────┼───────┼──────────┼──────────┤
│ 1   │ 40    │ 0     │ 2008     │ 250000.0 │ 31    │ 0        │ 3        │
│ 2   │ 0     │ 31    │ 70001019 │ 0.0      │ 0     │ 3        │ 20180903 │
│ 3   │ 31    │ 0     │ 2008     │ 250000.0 │ 3     │ 20180903 │ 1        │